header {
   .appTitle {
      text-align: center;
      text-shadow: 1px 1px 5px $quaternaryColor;
   }
   .motto {
         color: $quaternaryColor;
         padding: 0 0 2rem 0;
         font-size: 1.5rem;
         text-align: center;
         font-weight: 400;
         text-transform: uppercase;
   }
}

nav {
   background-color: $quinaryColor;
   color: $quaternaryColor;

   .wrapper {
      display: flex;
      flex-direction: row;
   }

   .textContainer {
      width: 50%;
      padding-right: 2rem;
      .searchShowByName,
      .searchShowByPages {
         padding: 2rem 0;
         font-weight: 400;
         text-align: right;
      }
   }


   .buttonContainer{
      width: 50%;
      display: flex;
      align-items: center;
   
      .showAllPages,
      .searchByName {
         margin-top: .1rem;
         font-size: 1.2rem;
         &:hover {
            background-color: $quaternaryColor;
            color: $quinaryColor;
            transition: 1s all;
         }
      } 
   }    
}